    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>More about me</h2>
                <h2>Who I am and what I do</h2>
<p>I'm a ERP/VoIP integrator — and The Lord knows how I got there (I sure don't). I've had some college in engineering and BA at the ULB university in Brussels. I have been a garments producer, shop owner, Cotton Trader, financial consultant, vice-president of a spinning mill in Ukraine, computer trainer and consultant in strategy for Johnson & Johnson.
Some countries I've already visited are Belgium, UK, Germany, France, Luxembourg, Italy, Switzerland, Austria, The Bahamas, Barbados, China, Czech Republic, Israel, USA, Aruba, Greece, Haiti, Hong Kong, Hungary, Japan, Korea, Martinique, Mexico, Netherlands, Reunion, Romania, Russia, South Africa, Ukraine, Uzbekistan and Virgin Islands.
And now I'm working at building my business and getting to know great people...
</p>

<h2>My home family pets and pleasures</h2>
	<p>I live in Raanana -near the parc- with my lovely wife Bellina and our two kids. <br>
I'm a card-carrying Aries, so "my element is fire." I've also been blessed with pretty great "house karma," which has enabled me to live in a succession of dynamic and special places over the years. </p>
<p>
My home is a living experience and expression of my Values and Vision. Some Asian influence, that I brought from the year I've lived in China. An eclectic mix of "stuff," too: Art, books, music and electronic "stuff" everywhere.

Pets..? I grew-up with dogs but <strike>no, no pets for the moment</strike>. Well... hmm... now Lola -our black cat- share our lives<br>

</p>

<h2>My top five Values are...</h2>
	<p><ul>
<li>Freedom</li>
<li>Personal Growth</li>
<li>Excellence and getting Better</li>
<li>Innovation and Changes</li>
<li>Sense of purpose and contribution</li>
</ul></p>

<h2>The most fun I have with my clothes on is...</h2>
	<p>
... reading, movies, spend time with great people, traveling, meeting new people and cultures.
</p>
            </div>
        </div>
    </section>
