    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Yves Goldberg</h1>
                        <p class="intro-text">Hi there, <br>I do not blog frequently at <a href="http://www.120467.com">120467.com</a>.<br>
                          I work @ <a href="http://www.ygol.com"><em>Ygol InterNetwork</em></a> where I passionately help companies deploy their ERP system using the Open Source <a href="www.odoo.com">Odoo</a>.<br>
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
